*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, black, grey)
}
.calculator
{
    border: 1px solid rgb(241, 232, 232);
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px gray;
}
 input{
    width: 320px;
    color:rgb(187, 181, 181) ;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px grey;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
 }
 input::placeholder{
    color: rgb(187, 181, 181);
 }
 button
 {
    border:1px solid white;
    width: 60px;
    height: 60px;
    margin: 10px ;
    border-radius: 50px;
    background: transparent;
    color: rgb(2, 2, 2);
    font-size: 30px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
    
 }
 button:hover{
   color: white;
   box-shadow: 0 0 5px grey, 0 0 25px grey, 0 0 50px grey, 0 0 100px grey;
 }
 .operator
 {
    color: rgb(10, 243, 10);
    background-color: rgb(37, 36, 36);
    font-weight: 500;
 }

 .equalBtn{
   color: orange;
   font-size: 35px;
   font-weight: 600;
 }
